.test
  .top
    .stop
      .user
        .user__name
          = current_user.name
        .user__btn
        = link_to new_group_path do
          = icon('far', 'edit ', class: "user__btn--edit")
          %span<>
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog fa-spin', class: "user__btn--set")
          %span<>
  .middle
    .smiddle
      - current_user.groups.each do |group|
        .smiddle__cgrp
          = link_to group_messages_path(group) do
            .smiddle__cgrp--name
              = group.name
            .smiddle__cgrp--mes
              = group.show_last_message
  